html {
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    background-color: lemonchiffon;
}

a {
    color: royalblue;
    text-decoration: none;
}

main, nav, footer {
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);
    padding: 1rem;
    margin-top: 1rem;
}

img {
    width: 250px;
}

h1 {
    font-size: 2.5rem;
}

h1, h2 {
    color: rgb(130,50,50);
    text-align: center;
}

h2 {
    border-bottom: 1px dotted lightsteelblue;
}

section {
    border: 1px solid lightsteelblue;
    padding: 1rem;
    margin-bottom: 1rem;
}

nav ul {
    text-align: right;
}

nav ul li {
    background-color: crimson;
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    list-style-type: none;
}

nav ul li a {
    color: white;
}

.wrapper {
    max-width: 900px;
    margin: auto;
}

.float-left {
    float: left;
    margin-right: 1rem;
}

.float-right {
    float: right;
    margin-left: 1rem;
}