



/*1. TYPOGRAPHY ================================ */




/*2. LAYOUT BLOCKS===============================*/

body
{
    margin: 0;  
    padding: 0;
}

header
{
    text-align: center;

    color: white;
    background-color: black;

    background-image: 
    url("fela-images/fela1.jpg"),
    linear-gradient(90deg, black,black, #555 40%,black);

    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;

}




article
{
   
    margin: 100px 25%;
}


footer {
    background-color: black;
    text-align: center;
    padding: 1rem 2%;
}


footer ul {
    list-style-type: none;
}

footer nav li {
    display: block;
}


/*3. NAVIGATION =================================*/

a
{
    color: red;
}


nav ul
{
    list-style-type: none; /*remove dots*/
}

nav li
{
    display: inline;
}

/*4. IMAGES =====================================*/


img
{
    max-width: 100%;
    height: auto;
}

/*4. UTILITY CLASSES ===============================*/


.floatright
{
    float: right;
    margin-left: 16px;
}

.floatleft
{
    float: left;
    margin-right: 16px;
}



/*6. MEDIA QUERIES===============================*/


@media screen and (max-width: 800px){

    html {
        font-size: 10px;
    }

	article{
		width: 96%;
		margin: auto;
	}



}



/*20.DIAGNOSTICS=================================*/
