
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus, *:active {
    outline: none;
}

*:focus-visible {
    outline: 2px solid #d43900;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: 'Nerko One', cursive;
}

/*****************************************************************************
                        -- Mobile Style Start --
******************************************************************************/

body {
    background: linear-gradient(rgb(242, 250, 255), #caa395);
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background: rgb(242, 250, 255);
    padding: 1rem;
}

.header_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_logo {
    width: 100px;
}

.footer_logo {
    width: 70px;
}

a {
    text-decoration: none;
}

p {
    color: #454545;
}

nav {
    display: grid;
    justify-items: right;
}

#hamburger {
    font-size: 1.5rem;
    border: none;
    background: white;
    border-radius: 4px;
    height: fit-content;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    text-align: right;
    margin-top: 0.5rem;
}

nav ul li a {
    color: green;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:active {
    color: darkgreen;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.subscribe {
    margin-top: 0.5rem;
    grid-column: 2 span;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: #d43900;
    text-decoration: none;
}

.subscribe:hover {
    text-decoration: underline;
}

.subscribe:active {
    color: red;
    outline: none;
}

form {
    background-color: white;
    margin-top: 1rem;
}

header form {
    grid-column: 2 span;
    display: grid;
    grid-template-columns: 8fr 1fr;
    background: transparent;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
  
header form button {
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    color: black;
    border-radius: 0 16px 16px 0;
}

header form button:hover {
    background: white;
    color: black;
}

header form button:active {
    background: gray;
    color: white;
}

header form input {
    border-radius: 16px 0 0 16px;
    border: 1px solid gray;
    padding-left: 0.5rem;
}

header form input:focus {
    outline: none;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5rem;
}

footer {
    background: #d3d3d3;
    padding: 1rem;    
}

.footer_wrapper form {
    display: grid;
    justify-items: left;
    margin-top: 0;
    height: 6rem;
    background: transparent;
}

.footer_wrapper form input {
    height: 2rem;
    padding-left: 1rem;
    border-radius: 16px;
    border: none;
}

.footer_wrapper form button {
    height: 2rem;
    color: white;
    background: #d43900;
    border: none;
    border-radius: 16px;
    padding: 0 1rem;
}

.footer_wrapper form button:active {
    background: red;
}

.copyright {
    background: black;
    padding: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

.footer_content .footer_content_heading {
    list-style-type: none;
    margin-left: 0;
}

.footer_content_heading h3 {
    margin-bottom: 0.5rem;
}

.social {
    padding: 0;
}

.social li {
    display: inline-block;
}

.social li a {
    text-decoration: none;
}

.social li i {
    font-size: 2rem;
    color: black;
}

.footer_content ul {
    padding: 0;
    margin: 0;
}

.footer_content ul li {
    list-style-type: none;
    margin-left: 1rem;
}

.footer_content ul li a {
    color: black;
}

.footer_content ul li a:hover {
    text-decoration: underline;
}

.aside_wrapper {
    padding: 1rem;
}

nav ul {
    display: none;
}

.show_menu {
    display: block;
}


/* ----- Home Page Start ----- */

.banner {
    background-image: url("../assets/images/pexels-bekka-mongeau-1452717.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.banner_wrapper {
    padding-top: 10rem;
}

.banner_wrapper h1 {
    margin-top: 10rem;
    margin-bottom: 0;
    padding: 1rem;
    text-shadow: 4px 4px 6px rgba(255,255,255, 0.8);
}

.banner_wrapper h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1rem 1rem;
}

.banner_wrapper h1, .banner_wrapper h3 {
    background: rgba(255, 255, 255, 0.7);
}

.home_page article {
    background: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home_page a {
    color: green;
}

.home_page a:hover, .home_page a:active {
    color: steelblue;
}

.articles {
    margin: 1rem;    
}

article h3 {
    color: Green;
} 

.home_page article img {
    width: 100%;
    border-radius: 8px;
}

.home_page aside {
    background: rgb(242, 250, 255);
}

.span_info {
    color: rgb(33, 75, 33);
}

.info {
    color: #d43900;
}

/* ----- Home Page End ----- */


/* ----- Article Page Start ----- */

.articles_page article {
    background: white;
}

.articles_page article {
    padding: 1rem 1rem 0;
}

.articles_page h2 {
    text-align: center;
}

.articles_page img {
    width: 100%;
}

.articles_page article img {
    width: 100%;
}

.articles_page h1 {
    padding: 2rem;
    margin: 0;
    text-align: center;
}

.articles_page a {
    color: green;
}

.articles_page aside {
    background: rgb(242, 250, 255);
}

.aside_wrapper {
    padding: 1rem;
}

/* ----- Article Page End ----- */


/* ----- Contact Page Start ----- */

.contact_page {
    padding: 0 1rem;
}

.form_wrapper {
    box-shadow: 4px 4px 6px rgba(0,0,0,0.7);
    border-radius: 8px;
    padding: 2rem 1rem;
    background: white;
}

.contact_page h3 {
    text-align: center;
}

.contact_page form button {
    margin-top: 2rem;
    font-weight: bold;
}

.contact_page input {
    margin-bottom: 1rem;
    height: 2rem;
    width: 100%;
}

textarea {
    width: 100%;
}

.contact_page button {
    padding: 0.5rem 2rem;
    border-radius: 16rem;
    background: #d3d3d3;
    border: none;
    color: black;
}

.contact_page button:hover {
    background: Gray;
}

.contact_page button:active {
    background: black;
    color: white;
    border: none;
}

.contact_page {
    margin-bottom: 3rem;
}

.contact_page h1 {
    padding: 2rem;
    margin: 0;
    text-align: center;
}

/* ----- Contact Page End ----- */


/* ----- Sources Page Start ----- */

.sources_page h1 {
    padding: 2rem;
    margin: 0;
    text-align: center;
}

.sources_page {
    padding: 0 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sources_page img {
    width: 200px;
}

.table_wrapper {
    background: white;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    overflow-x: auto;
}

table {
    width: 800px;
    margin: 1rem auto;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    background: rgb(233, 253, 253);
}

.table_wrapper, th, td {
    padding: 0.5rem;
}

thead th {
    color: white;
    background-color: darkslateblue;
}

.sources_page .table_wrapper table caption {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

/* ----- Sources Page End ----- */


/*****************************************************************************
                        -- Mobile Style End --
******************************************************************************/


/*****************************************************************************
                        -- Tablet Style Start --
******************************************************************************/
@media screen and (min-width: 768px) {
    
    .header_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    #hamburger {
        display: none;
    }

    #menu {
        display: block;
    }
    
    .header_wrapper nav {
        grid-column: 2 span;
    }

    .header_wrapper button {
        grid-column: 1 span;
        justify-self: end;
    }

    .header_wrapper form {
        grid-column: 4 span;
        justify-self: end;
        margin-left: 0;
        margin-right: 0;
    }

    .header_wrapper nav ul {
        text-align: right;
    }

    .header_wrapper {
        align-items: center;
    }

    .header_wrapper nav ul li {
        display: inline-block;
        padding: 0 1rem;
        list-style-type: none;
        text-align: right;
        margin-top: 0;
    }

    .subscribe {
        margin-top: 0;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    
    .aside_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer_wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .footer_wrapper form {
        grid-column: 4 span;
        text-align: center;
        display: block;
        height: 3rem;
    }

    .footer_wrapper form button {
        margin-left: 0.5rem;
    }
    
    .footer_content_heading h3 {
        margin-top: 0;
    }

    .footer_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }


    /* -- Contact Page Start -- */
    
    .contact_page .form_wrapper form {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .contact_message {
        grid-column: 2 span;
    }

    .contact_page form button {
        width: fit-content;
    }
    .contact_page input {
        margin-bottom: 0;
    }
    .contact_page form button {
        margin-top: 0;
    }
    
    /* -- Contact Page End -- */

}


/*****************************************************************************
                        -- Tablet Style End --
******************************************************************************/


/*****************************************************************************
                    -- Desktop Style Start --
******************************************************************************/
@media screen and (min-width: 1024px) {
    
    header {
        position: sticky;
        top: 0;
        padding: 0.5rem 1rem;
        z-index: 2;
    }

    .header_wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 4fr auto 1fr;
    }

    .header_wrapper nav {
        grid-column: 1 span;
    }

    .header_wrapper form {
        grid-column: 1 span;
        justify-self: end;
        margin-left: 0;
        margin-right: 0;
    }

    .subscribe {
        padding: 0 1rem;
        grid-column: 1 span;
    }

    button {
        cursor: pointer;
    }

    header form {
        grid-column: 1 span;
    }

    header button, header form {
        justify-items: right;
        height: fit-content;
        margin: 0;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    footer {
        margin-top: 5rem;
    }

    .aside_wrapper {
        border-left: 1px solid darkgray;
        display: block;
    }


    /* ----- Home Page Start ----- */

    .home_page {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: end;
    }

    .banner {
        grid-column: 4 span;
    }

    .banner_wrapper h1, .banner_wrapper h3 {
        width: fit-content;
    }

    .home_page article {
        margin-top: 0;
    }

    .articles {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .articles h2 {
        grid-column: 2 span;
    }

    article {
        margin: 0;
    }

    .home_page aside {
        margin-bottom: 1rem;
    }

    /* ----- Home Page End ----- */


    /* ----- Article Page Start ----- */

    .articles_page h1 {
        Padding: 5rem 0;
    }

    .articles_page {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1rem;
        align-items: end;
    }

    .article_banner {
        grid-column: 4 span;
        text-align: center;
    }

    .articles_page .history_image {
        max-width: 350px;
        float: right;
        padding-left: 1rem;
    }
    
    .articles_page .head_image {
        max-width: 350px;
        float: left;
        padding-right: 1rem;
    }

    /* ----- Article Page End ----- */


    /* ----- Contact Page Start ----- */

    .contact_page h1 {
        Padding: 5rem 0;
    }

    form {
        max-width: 900px;
        margin: 0 auto 0 auto!important;
    }

    /* ----- Contact Page End ----- */
    

    /* ----- Sources Page Start ----- */
    
    .sources_page h1 {
        Padding: 5rem 0;
    }

    table {
        width: 1000px;
    }
    
    /* ----- Sources Page End ----- */
    
}

/*****************************************************************************
                    -- Desktop Style End --
******************************************************************************/